$default-background__color: whitesmoke;

$default-subtitle__color: lightslategrey;
$default-subtitle__font: Arial;
$default-subtitle__size: medium;

$default-title__color: black;
$default-title__font: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
$default-title__size: large;
