@import "./palette";
@import "./formatting";

@mixin default-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin display-flex($direction, $jus-content, $align-items, $wrap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $jus-content;
  align-items: $align-items;
  flex-wrap: $wrap;
}

@mixin card-default-styling {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  // change later
  padding-top: 5px;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
}

@mixin default-link-styling {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  border-radius: 50px;
  padding: 2.5vh;
}

// @mixin main-container {
//   display: grid;
//   /* each column should be the same width */
//   grid-template-columns: 1fr 1fr 1fr;
//   /* each column should have some space between them */
//   grid-gap: 20px;
// }

// @mixin container {
//   //flexbox
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: space-between;
//   flex-direction: row;
//   align-items: center;
// }
