@import "./palette";
@import "./formatting";

@mixin default-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin display-flex($direction, $jus-content, $align-items, $wrap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $jus-content;
  align-items: $align-items;
  flex-wrap: $wrap;
}

@mixin card-border {
  border: 2px solid black;
  border-radius: 10px;
  margin-top: 2vh;
  padding: 2vw;
}

@mixin card-default-styling {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  // change later
  // border: 1px solid black;
  padding-top: 10px;
  border-radius: 5px;
  text-align: center;

  // Text Formatting Styles
  .text {
    color: black;

    &--title {
      font-size: xx-large;
      color: $default-title__color;
      font-family: $default-title__font;
    }
    &--subtitle {
      margin-top: 3px;
      font-size: medium;
      color: $default-subtitle__color;
      font-family: $default-subtitle__font;
      font-weight: 100;
    }
  }
}

@mixin default-link-styling {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  border-radius: 50px;
  padding: 2.5vh;
}

// @mixin main-container {
//   display: grid;
//   /* each column should be the same width */
//   grid-template-columns: 1fr 1fr 1fr;
//   /* each column should have some space between th
