@use "./mixins";
@import "./palette";
@import "./formatting";

main {
  @include mixins.default-flex;
  background-color: $default-background__color;
  background-image: $gradient-radial;
}

.card {
  width: 1000vh;
  height: 500vh;
  //flexbox
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;

  &__secondary {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
  }
  &__landing {
    @include mixins.module-home;
    width: 400px;
    height: 400px;
  }

  &__about-me {
    @include mixins.module-home;
    width: 400px;
    height: 400px;
  }

  &__tech-skills {
    @include mixins.module-home;
    width: 700px;
    height: 400px;
  }

  &__projects {
    @include mixins.module-home;
    width: 400px;
    height: 400px;
  }

  &__contact {
    @include mixins.module-home;
    // border: 1px solid black;
    width: 400px;
    height: 400px;
  }
}

// Text Formatting Styles
.text {
  color: black;

  &--title {
    color: $default-title__color;
    font-family: $default-title__font;
  }
  &--subtitle {
    font-size: xx-small;
    color: $default-subtitle__color;
    font-family: $default-subtitle__font;
    font-weight: 100;
  }
}

.btn {
  transform: scale(150%);
  border-radius: 200px;
  border-width: 2px;
  background-color: lightcyan;

  &--title {
    color: rgb(72, 72, 196);
    font-size: $default-title__size;
    font-family: $default-title__font;
    font-weight: bold;
  }

  &--subtitle {
    font-size: $default-subtitle__size;
    font-family: $default-subtitle__font;
    color: $default-subtitle__color;
    font-weight: 100;
  }
}

.btn:hover {
  transform: scale(155%);
  cursor: grab;
}

.btn:active {
  color: red;
}
