* {
  margin: 0;
}

.card {
  border: 1px solid transparent;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-evenly;
  align-items: center;
  height: 350vh;
}
.card__landing {
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card__about-me {
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card__tech-skills {
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card__projects {
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card__contact {
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  color: black;
}
.text--title {
  color: black;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.text--subtitle {
  font-size: xx-small;
  color: lightslategrey;
  font-family: Arial;
}
