/* SCSS RGB */
/* SCSS Gradient */
/* SCSS RGB */
/* SCSS Gradient */
nav {
  background-color: whitesmoke;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
@media only screen and (max-width: 576px) {
  .nav .projects__container__timestop {
    height: auto;
    width: 75vw;
    height: 40vh;
  }
  .nav .projects .btnStyle {
    height: 9vh;
    border: 3px solid limegreen;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
}
.nav__list {
  margin-right: 10vh;
  width: 30vh;
  height: 10vh;
  font-size: 24px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  justify-items: flex-end;
  align-items: center;
}

/* SCSS RGB */
/* SCSS Gradient */
/* SCSS RGB */
/* SCSS Gradient */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  background-image: radial-gradient(
    rgba(248, 255, 229, 0.25),
    rgba(6, 214, 160, 0.25),
    rgba(27, 154, 170, 0.25),
    rgba(239, 71, 111, 0.25),
    rgba(255, 196, 61, 0.25)
  );
}

.sectionWrapper {
  width: 90vw;
  height: 325vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
@media only screen and (max-width: 576px) {
  .sectionWrapper .projects__container__timestop {
    height: auto;
    width: 75vw;
    height: 40vh;
  }
  .sectionWrapper .projects .btnStyle {
    height: 9vh;
    border: 3px solid limegreen;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
}
.sectionWrapper__landing {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  padding-top: 5px;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
}
.sectionWrapper__about-me {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  padding-top: 5px;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
}
.sectionWrapper__tech-skills {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  padding-top: 5px;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
}
.sectionWrapper__projects {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  padding-top: 5px;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
}
.sectionWrapper__contact {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  padding-top: 5px;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
}

.text {
  color: black;
}
.text--title {
  color: black;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.text--subtitle {
  font-size: xx-small;
  color: lightslategrey;
  font-family: Arial;
  font-weight: 100;
}

.btn {
  transform: scale(150%);
  border-radius: 200px;
  border-width: 2px;
  background-color: lightcyan;
}

.contactMe:hover {
  transform: scale(105%);
  cursor: pointer;
}

.projects__container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  flex-wrap: wrap;
}
.projects__container__timestop {
  padding: 10px;
  background-image: url(./Images/timestop.png);
  color: white;
  width: 25vw;
  height: 40vh;
  border: 4px solid rgb(183, 30, 30);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.projects__container__timestop--btn {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
  background-image: none;
  border: 2px solid transparent;
}

.btnStyle {
  height: 5vh;
  border: 3px solid limegreen;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.btn--subtitle {
  font-size: medium;
  font-family: Arial;
  color: lightslategrey;
  font-weight: 100;
}

.btn:hover {
  transform: scale(155%);
  cursor: grab;
}

.btn:active {
  color: red;
}

/* SCSS RGB */
/* SCSS Gradient */
/* SCSS RGB */
/* SCSS Gradient */
* {
  list-style: none;
}

header {
  font-weight: bold;
  font-size: 48px;
  text-decoration: underline;
  text-align: center;
  background-color: whitesmoke;
  padding-bottom: 10px;
}

.container {
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.container__link {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  border-radius: 50px;
  padding: 2.5vh;
  width: 25%;
  height: 40%;
}
@media only screen and (max-width: 576px) {
  .container__link .projects__container__timestop {
    height: auto;
    width: 75vw;
    height: 40vh;
  }
  .container__link .projects .btnStyle {
    height: 9vh;
    border: 3px solid limegreen;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .container__link .container {
    width: 80vw;
    height: 85vh;
    padding: 4vh;
  }
  .container__link .container__link {
    width: 25%;
    height: 40%;
  }
}

.link__img {
  color: red;
}

.text {
  color: black;
}
.text--title {
  color: black;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.text--subtitle {
  font-size: 24px;
  color: lightslategrey;
  font-family: Arial;
  font-weight: 100;
}
.text--socials {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: red;
  font-size: 30px;
}

* {
  margin: 0;
}
