@use "./partials/devices";
@import "./partials/formatting";
@import "./partials/palette";
@import "./modules/nav.scss";
@import "./modules/home.scss";
@import "./modules/contact.scss";

* {
  margin: 0;
}

#footer {
  padding: 2vh;
  text-align: center;
}
