/* SCSS RGB */
/* SCSS Gradient */
/* SCSS RGB */
/* SCSS Gradient */
/* SCSS RGB */
/* SCSS Gradient */
/* SCSS RGB */
/* SCSS Gradient */
/* SCSS RGB */
/* SCSS Gradient */
.nav {
  background-color: whitesmoke;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
@media only screen and (max-width: 576px) {
  .nav {
    height: 65%;
  }
}
.nav__list {
  margin-right: 10vh;
  width: 30vh;
  height: 10vh;
  font-size: 24px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.nav__list__item {
  color: aqua;
}

/* SCSS RGB */
/* SCSS Gradient */
/* SCSS RGB */
/* SCSS Gradient */
/* SCSS RGB */
/* SCSS Gradient */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  background-image: radial-gradient(rgba(248, 255, 229, 0.25), rgba(6, 214, 160, 0.25), rgba(27, 154, 170, 0.25), rgba(239, 71, 111, 0.25), rgba(255, 196, 61, 0.25));
}

.sectionWrapper {
  width: 1000vw;
  height: 500vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media only screen and (max-width: 576px) {
  .sectionWrapper {
    height: 65%;
  }
}
.sectionWrapper__landing {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  padding-top: 5px;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
}
.sectionWrapper__about-me {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  padding-top: 5px;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
}
.sectionWrapper__tech-skills {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  padding-top: 5px;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
}
.sectionWrapper__projects {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  padding-top: 5px;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
}
.sectionWrapper__contact {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  padding-top: 5px;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
}

.text {
  color: black;
}
.text--title {
  color: black;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.text--subtitle {
  font-size: xx-small;
  color: lightslategrey;
  font-family: Arial;
  font-weight: 100;
}

.btn {
  border-radius: 200px;
  border-width: 2px;
  background-color: lightcyan;
}
.btn--title {
  color: rgb(72, 72, 196);
  font-size: large;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bold;
}
.btn--subtitle {
  font-size: medium;
  font-family: Arial;
  color: lightslategrey;
  font-weight: 100;
}

.btn:hover {
  transform: scale(155%);
  cursor: grab;
}

.btn:active {
  color: red;
}

/* SCSS RGB */
/* SCSS Gradient */
/* SCSS RGB */
/* SCSS Gradient */
/* SCSS RGB */
/* SCSS Gradient */
* {
  list-style: none;
}

header {
  font-weight: bold;
  font-size: 48px;
  text-align: center;
  background-color: whitesmoke;
  padding-bottom: 10px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 80vw;
  height: 85vh;
  padding: 4vh;
}
.container__link {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  border-radius: 50px;
  padding: 2.5vh;
  width: 25%;
  height: 40%;
}
@media only screen and (max-width: 576px) {
  .container__link {
    height: 65%;
  }
}
.link__img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 7.5vw;
}
.link__img--enlarge {
  width: 12vw;
}
.link__img--enlarge2 {
  width: 9vw;
}
.link__img--shrink {
  width: 7vw;
  border: 2px solid transparent;
  border-radius: 10px;
}
.link__img:hover {
  transform: scale(110%);
}

.text {
  color: black;
}
.text--title {
  color: black;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.text--subtitle {
  font-size: 18px;
  color: lightslategrey;
  font-family: Arial;
  font-weight: 100;
}
.text--socials {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: red;
  font-size: 1.5vw;
}

* {
  margin: 0;
}

#footer {
  padding: 2vh;
  text-align: center;
}
