@use "../partials/mixins";
@use "../partials/devices";

@import "../partials/palette";
@import "../partials/formatting";
@import "../partials/nav.scss";

* {
  list-style: none;
  margin: 0;
}

header {
  font-weight: bold;
  font-size: 48px;
  text-decoration: underline;
  text-align: center;
  background-color: $default-background__color;
  padding-bottom: 10px;
}

section ul > li > img {
  width: 250px;
  height: 250px;
}

section ul > li > a > img {
  width: 250px;
  height: 250px;
}

#email {
  width: 325px;
  height: 250px;
}
.text {
  color: black;

  &--title {
    color: $default-title__color;
    font-family: $default-title__font;
  }
  &--subtitle {
    font-size: 24px;
    color: $default-subtitle__color;
    font-family: $default-subtitle__font;
    font-weight: 100;
  }

  &--socials {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: red;
    font-size: 30px;
  }
}
